   /* Main container styling */
   #container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Form section styling */
#form-section {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Form header */
#form-section h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

/* Input and label styling */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

span.minmax {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

select, input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

/* Button styling */
#filterButton, #exportButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#exportButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f6153;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filterButton:hover, #exportButton:hover {
    background-color: #0056b3;
}

/* Results list styling */
#resultList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    font-size: 0.9rem;
    max-height: calc(100vh - 200px); /* Adjust this value as needed */
    overflow-y: auto;
}


#resultList li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

/* Map section styling */
#map-section {
    width: 70%;
}

#map {
    height: 100%;
    width: 100%;
}

#resultList li {
    cursor: pointer;
}

#area_details ul{
    font-size: 1rem;
    color: #333;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

.card ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
}

.card ul li:hover {
    background-color: #bcccdb;
}

.card ul li span:nth-child(2) {
    font-weight: bold;
    color: orange;
}

mark.bio{
    background-color: blue;
    color: white;
    opacity: 0.5;
}

mark.conventional{
    background-color: orange;
    color: black;
}